<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Not That Cool DB</title>
<link rel="stylesheet" type="text/css" href="style.css" />

  <script type="text/template" id="postTmpl">
      <h2><%= Title %></h2>
      <img src='<%= moviePoster %>'></img>
      <p><%= plotDescription %></p>
      <h3><%= movieRating %></h3>
  </script>


</head>

<body>



<div class="page">

    <div class="logo">
        <div class="icon"></div>
        <div class="movieAppLabel"></div>
    </div>

    <div class="holder">
    	<form action="http://www.themoviedb.org/search" method="post" target="_blank">
            <fieldset>
            	<input type="text" id="movieName" name="search" />
            </fieldset>
        </form>
        <a href="#" class="button">Submit</a>
    </div>
    <div class="contentContainer">

    <div class="movieReturn">
      <h3>Here is the info you requested</h3>
    </div>

  </div>



</div>

<script src="app.js"></script>
<script src="collections.js"></script>
<script src="model.js"></script>
<script src="views.js"
</body>
</html>
